@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Rubik+Doodle+Shadow&display=swap');

html,body{
    margin: 0;
    padding: 0;
}

.container{
    height: 100dvh;
    width: 100%;
    background-image: url(./images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inner-container{
    height: 30%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 166, 0);
    border-radius: 2rem 6rem; 
    font-family: Rubik Doodle Shadow;
    color: black;
    font-size: 1.5rem;
    font-weight: 800;
    padding: 3rem;
}

button{
    margin-top: 4rem;
    height: 30px;
    width: 120px;
    background-color: rebeccapurple;
    color: white;
    border-radius: 5%;
}

button:hover{
    background-color: white;
    color:rebeccapurple;
    box-shadow: 0.5rem 0.5rem 2rem rebeccapurple;
}